body{
    background-image: url(../IMAGENS/fundo.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

#image-start {
    display: block;
    margin-top: 50px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 90%;
    max-width: 820px;
    height: auto;
}

.container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
    max-width: 1600px;
    margin: 0 auto;
}

.mugwaras{
    width: 300px;
    text-align: center;
}

.mugwaras img {
    width: 300px; 
    height: 300px;
    object-fit: cover;
}

.mugwaras a{
    background-color: rgb(234, 184, 46);
    display: block;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

@media (max-width: 1200px) {
    .mugwaras {
        width: 300px; 
    }
}

@media (max-width: 650px) {
    .mugwaras {
        width: 80%;
    }
    .mugwaras img {
        width: 100%; 
        height: auto;
        object-fit: initial;
    }
    .mugwaras a {
        font-size: 24px;
    }
    .container {
        gap: 40px; 
    }
    #image-start {
        margin-top: 20px; 
        margin-bottom: 30px;
    }
}